
.header {
    margin-top: 0px;
    padding-top: .1em;
    color: white;
    background: linear-gradient(.25turn,#3a3a3a, 70%,#2a2929);
    /*border:solid 5px red; */
}

.headerTitles {
    display:flex;
    flex-direction:column;
    align-items: center;
    font-family: 'Roboto Slab', serif;
    color: rgb(136, 136, 136);
    
}
/* Fluid font size:
minimum font size at min. device width 300px = 14
maximum font size at max. device width 1600px = 26
*/
.headerTitleSm {
    position:absolute;
    top:12%;
    font-size: calc(20px + (22 - 14) * ((100vw - 300px) / (1600 - 300)));
}

.headerTitleLg {
    position:absolute;
    top: 14%;
    font-size: calc(50px + (90 - 14) * ((100vw - 300px) / (1600 - 300)));
}



.headerImg {
    width: 100%;
    height: 30vw;
    min-height: 10px;
    margin-top: 80px;
    object-fit: cover;
    /* for black
    object-position: 0px -400px;
    */
    

    object-position: center;
    
}

@media screen and (max-width: 450px) {
    .headerImg {
        width: 100%;
        height: 50vw;
        
        margin-top: 80px;
        object-fit: cover;
        /* for black
        object-position: 0px -400px;
        */
        
    
        object-position: center;
        
    }
}