:root {
  --bg: #646464;
}

.sidebar {
    flex: 3;
    height: fit-content;
    margin: 20px;
    padding-bottom: 30px;
    box-shadow: 5px 5px 5px rgb(27, 27, 27);
    background: linear-gradient(.25turn,#3a3a3a, 70%,var(--bg));
    border-radius: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
    font-weight: bold;
    
}
@media screen and (max-width: 1000px) {
  .sidebar {
    display: none;
  }
}


  .sidebarCard { 
      background-color: rgb(63, 63, 63);
      box-shadow: 5px 5px 5px rgb(27, 27, 27);
      border-radius: 20px;
      
      
}
  .sidebarItem {
    display: flex;
    flex-direction: column;
    align-items: center;
   
    
}

  .sidebarTitle {
    margin: 10px;
    padding: 5px;
    width: 80%;
    /*
    border-top: solid 1px #747474;
    border-bottom: solid 1px #747474;
    */
    text-align: center;
    font-family: 'Roboto Slab', serif;
    font-size: 20px;
    line-height: 19px;
    color: rgb(24, 24, 24);
    font-weight: 600;
    
}
  
  .sidebarItem > img {
    box-shadow: 5px 5px 5px rgb(27, 27, 27);
    margin-top: 15px;
    width: 250px;
    height: 250px;
    border-radius: 20px;
    
    
  }
  
  .sidebarItem > p {
    padding: 1.5em 0px;
    color: rgb(27, 27, 27);
 
  }
  
  .sidebarList {
    list-style-type: none;
    margin-bottom: 1em;
   
  }
  
  .sidebarListItem {
    display: inline-block;
    width: 50%;
    margin-top: .9em;
    cursor: pointer;
    color:rgb(31, 31, 31);
    
  }
  
  .sidebarSocial {
    
    margin-top: 15px;
    width: 3em;
    display: flex;
    align-items: center;
    justify-content: center;
    
  }
  
  .sidebarIcon {
    font-size: 16px;
    margin-left: 10px;
    color:rgb(121, 121, 121);
    cursor: pointer;
  
  }
  